// ------------------------------------------------------------
// Theme
// ------------------------------------------------------------

$font--size: 16px;
$font--height: 1.75rem;
$font--family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

$color--links: #888;
$color--content: #000;
$color--content-secondary: #AAA;
$color--background: #FFF;
