<nav>
	<a href="/" class="logo">
		<img src="{{ .Site.BaseURL }}/images/icon.svg" alt="Acme Co Logo" />
	</a>

	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/styles">Styles</a></li>
		<li>
			<ul>
				{{ range (where .Site.RegularPages ".Type" "styles") }}
				<li>
					<a href="{{ .Permalink }}">{{ .Title }}</a>
				</li>
				{{ end }}
			</ul>
		</li>
		<li><a href="/components">Components</a></li>
		<li>
			<ul>
				{{ range (where .Site.RegularPages ".Type" "components") }}
				<li>
					<a href="{{ .Permalink }}">{{ .Title }}</a>
				</li>
				{{ end }}
			</ul>
		</li>
	</ul>
</nav>